<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('Create Job Application')" />
<!-- this bootstrap aint working-->

<body class="container m-auto">
<form th:action="@{/jobApplications/create}" th:method="post" th:object="${job}" class="col-7 m-auto">
    <div class="mb-3">
<!--        <label for="title" class="form-label">title</label><span class="required text-danger"> *</span>-->
        <input th:field="*{title}" th:value="title" class="form-control mt-1" placeholder="Title" aria-describedby="titleHelp" required>
    </div>
<!--    Title:-->
<!--    <input th:field="*{title}" th:value="title" />-->
<!--    <br />-->
    <input th:field="*{description}" th:value="description" placeholder="Description"/>
    <br>
    <input th:field="*{company}" th:value="company" placeholder="Company"/>
    <br>
    <input th:field="*{location}" th:value="location" placeholder="location"/>
    <br>
    <input th:field="*{logo}" th:value="logo" placeholder="logo"/>
    <br>
    <input th:field="*{salary}" th:value="salary" placeholder="salary"/>
    <br>
    <input type="submit" />
</form>
</body>
</html>