<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('Create Job Application')" />
<body class="container">
<th:block th:replace="partials/navbar :: navbar"></th:block>

<h1 class="d-flex justify-content-center my-4">Create Job Application</h1>
<form th:action="@{/jobApplications/create}" th:method="post" th:object="${job}" class="col-7 m-auto">
    <div class="mb-3">
        <label for="title" class="form-label">Title *</label>
        <input th:field="*{title}" th:value="title" class="form-control mt-1" id="title" required/>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description *</label>
        <textarea th:field="*{description}" th:value="description" class="form-control mt-1" id="description" required></textarea>
    </div>
    <div class="mb-3">
        <label for="company" class="form-label">Company</label>
        <input th:field="*{company}" th:value="company" class="form-control mt-1" id="company"/>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input th:field="*{location}" th:value="location" class="form-control mt-1" id="location"/>
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input th:field="*{salary}" class="form-control mt-1" id="salary"/>
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
</body>
</html>