<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('Login')" />

<body>

<th:block th:replace="partials/navbar :: navbar"></th:block>

<form th:action="@{/jobApplications/{id}/edit(id=${jobApp.id})}" method="post" th:object="${jobApp}">
    Job Title * :
    <input name="title" th:value="*{title}"/>
    <br>
    Job description * :
    <input type="text" name="description" th:value="*{description}"/>
    <br>
    Job location:
    <input type="text" name="location" th:value="*{location}"/>
    <br>
    Job company:
    <input type="text" name="company" th:value="*{company}"/>
    <br>
    Job salary:
    <input type="text" name="salary" th:value="*{salary}"/>
    <br>
    <button type="submit">Submit Changes</button>
</form>
</body>
</html>