<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('All Job Applications')"/>
<body>

<!--NAVBAR-->
<th:block th:replace="partials/navbar :: navbar"></th:block>

<!--SEARCH-->
<div class="container-fluid hidden">
    <div class="d-flex justify-content-center mb-3 mt-2">
        <form id="searchBar" class="row searchContainer input-group" th:action="@{/search}" th:method="get">
            <input class="form-control " type="search" name="search" id="search" placeholder="search for jobs based on title or find notes ">
            <span id="searchButton" class="btn btn-outline-success  " type="submit"><i class="fas fa-search"></i>
            </span>
        </form>
    </div>
</div>

<!--HEADERS-->
<form id="statusUpdate" th:action="@{/jobApplications/kanban/update}" th:method="post">
    <div id="statusNameContainer" class="container-fluid d-flex justify-content-between">
        <div class="statusNameDiv text-center"><h3 class="statusName col-4"> <span class="tinyDot1"></span> Applied To</h3></div>
        <div class="statusNameDiv text-center"><h3 class="statusName col-4"> <span class="tinyDot2"></span> First Contact</h3></div>
        <div class="statusNameDiv text-center"><h3 class="statusName col-4"> <span class="tinyDot3"></span> Interviews</h3></div>
        <div class="statusNameDiv text-center"><h3 class="statusName col-4"> <span class="tinyDot4"></span> Offer Made</h3></div>
    </div>

<!--JOB CARDS-->
    <div class="container-fluid d-flex justify-content-between" id="kanbanContainer">
        <input id="dynamicId" type="hidden" name="draggedJobId" th:value="0">
        <fieldset id="appliedTo" class="col-4 col-md-6 statusColumn">
            <ol id="appliedJobs" class="connectedSortable">
<!--APPLIED TO COLUMN-->
                <!--Button to create job application-->
                <li><div><a  type="button" class="createJob" th:href="@{/jobApplications/create}">+</a></div></li>
                <li class=" jobCard row card draggable shadow " th:each="job : ${jobs1}" value="test">
                    <!--JOB ID HIDDEN INPUT ALLOWS US TO GRAB THE JOB ID OBJECT-->
                    <input th:id="${job.id}" type="hidden" name="jobId" th:value="${job.id}">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img class="round" th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                            <strong><p class="card-text" th:text="${job.company}"></p></strong>
                        </div>
                        <h6 class="card-title" th:text="${job.title}"></h6>
                        <!--                    make this a link (above line)-->
                        <p class="card-text greyText" th:text="${job.location}"></p>

                        <p class="card-text greyText" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>
                        <div class="d-flex justify-content-end ">
                            <button type="button" class="badge mb-1 showInfo d-flex align-items-center justify-content-center" data-bs-toggle="modal"
                                    th:data-bs-target="${'#appliedToModal' + job.id}">
                                More
                            </button>
                        </div>
<!--APPLIED TO MODAL-->
                        <div class="modal fade" th:id="${'appliedToModal' + job.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align: center">
                                        <img class="round"
                                             th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                                        <p class="card-text" th:text="${job.company}"></p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <h4 class="text-primary card-title col-8" style="text-align: center"
                                                th:text="${job.title}"></h4>
                                            <div style="display: flex; justify-content: space-between">
                                                <p class="card-text col-6" th:text="${job.location}"></p>
                                                <!--                                                <p class="card-text col-6"-->
                                                <!--                                                   th:text="'Salary: $' + ${job.getSalary()}"></p>-->
                                                <p class="card-text col-6" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>

                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="col-8 mb-4" style="float: left;">
                                                    <h5 style="text-align: center; ">Description</h5>
                                                    <input th:value="*{job.description}" class="form-control mt-1 showdescription"/>
                                                    <!--                                                    <p class="card-text showdescription" th:text="${job.description}"></p>-->
                                                </div>
                                                <div class="col-3"
                                                     style=" display: flex; float: right; flex-direction: column; justify-content: center">
                                                    <form action="/notes/create" th:action="@{/notes/create}"
                                                          method="post"
                                                          th:object="${note}">
                                                        <button type="button" class="btn btn-warning col-12"
                                                                data-bs-toggle="modal"
                                                                th:data-bs-target="${'#createNote' + job.id}"
                                                                data-bs-dismiss="modal">Create a note
                                                        </button>
                                                    </form>
                                                    <form action="/reminders/create" method="post" th:object="${reminder}">
                                                        <button style="margin-top: 1em;" type="button" class="btn btn-success col-12" data-bs-toggle="modal" th:data-bs-target="${'#createReminder' + job.id}"
                                                                data-bs-dismiss="modal">Create a reminder
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h5 class="col-8" style="text-align: center">Notes</h5>
                                            <div class="col-8" style="max-height: 25.25em;overflow-y: scroll">
                                            <div class="card col-12"
                                                 style="margin-bottom: 1em; display: flex; flex-direction: column"
                                                 th:each="note : ${notes}"
                                                 th:if="${note.getJobApplication().getId() == job.getId()}">
                                                <h5 class="col-4" style="margin-top: 0.5em; margin-left: 0.5em;"
                                                    th:text="${note.title}"></h5>
                                                <p style="display: flex; margin-left: 0.5em;"
                                                   th:text="${note.content}"></p>
                                                <p style="font-size: 10px; display: flex; margin-right: 0.5em; justify-content: flex-end"
                                                   th:text="'Created on: ' + ${#dates.format(note.date, 'MM-dd-yyyy')}"></p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a th:href="@{/jobApplications/{id}(id=${job.id})}" class="btn btn-primary">View
                                            All Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form th:action="@{/notes/{id}/createFromKanban(id = ${job.id})}" method="post"
                              th:object="${note}">
                            <div class="modal fade" th:id="${'createNote' + job.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="appliedToModalLabel">New Note</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="title-name" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="appliedTo-title-name"
                                                       th:field="*{title}"
                                                       th:value="*{title}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="appliedTo-message-text"
                                                          th:field="*{content}" th:value="*{content}"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    th:data-bs-target="${'#appliedToModal' + job.id}"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/reminders/{id}/createFromKanban/(id=${job.id})}" method="post" th:object="${reminder}">
                            <div class="modal fade" th:id="${'createReminder' + job.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New Reminder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                            <label for="titleName" class="col-form-label">Title</label>
                                            <input type="text" class="form-control" id="titleName" th:field="*{title}"
                                                   th:value="*{title}" placeholder="title">
                                        </div>
                                            <div class="mb-3">
                                                Description:
                                                <textarea type="text" class="form-control" name="description" placeholder="description" ></textarea>
                                            </div>
                                            <div>
                                                <input class="mr-10" name="reminderSelect" value="email" type="radio" checked/> Reminder will be sent to
                                                your email
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" th:data-bs-target="${'#appliedToModal' + job.id}">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--            leaving one copy in case needed for reference-->
                        <!--                            <form th:action="'/jobApplications/' + ${job.id} + '/edit'" method="get">-->
                        <!--                                <input type="hidden" name="jobApplicationsId" value="${jobApplications.id}">-->
                        <!--                                <button class="m-2" type="submit" name="editBtn" value="edit">Edit</button>-->
                        <!--                            </form>-->
                        <!--                            <form th:action="'/jobApplications/' + ${job.id} + '/delete'" th:method="POST">-->
                        <!--                                <button type="submit">Delete</button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                </li>
            </ol>
        </fieldset>

<!--FIRST CONTACT COLUMN-->
        <fieldset id="firstContact" class="col-4 col-md-6 statusColumn" >
            <ol id="contactedJobs" class="connectedSortable">
                <li><div><a  type="button" class="createJob" th:href="@{/jobApplications/create}">+</a></div></li>
                <li class=" jobCard row card draggable shadow" th:each="job : ${jobs2}">
                    <!--JOB ID HIDDEN INPUT ALLOWS US TO GRAB THE JOB ID OBJECT-->
                    <input type="hidden" name="jobId" th:value="${job.id}">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img class="round" th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                            <strong><p class="card-text" th:text="${job.company}"></p></strong>
                        </div>
                        <h6 class="card-title" th:text="${job.title}"></h6>
                        <!--                    TODO make this a link (above line)-->
                        <p class="card-text greyText" th:text="${job.location}"></p>
<!--                        <p class="card-text greyText" th:text="'$' + ${job.salary}"></p>-->
                        <p class="card-text greyText" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="badge mb-1 showInfo d-flex align-items-center justify-content-center" data-bs-toggle="modal"
                                    th:data-bs-target="${'#firstContactModal' + job.id}">
                                More
                            </button>
                        </div>
<!--FIRST CONTACT MODAL -->
                        <div class="modal fade" th:id="${'firstContactModal' + job.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align: center">
                                        <img class="round"
                                             th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                                        <p class="card-text" th:text="${job.company}"></p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <h4 class="text-primary card-title col-8" style="text-align: center"
                                                th:text="${job.title}"></h4>
                                            <div style="display: flex; justify-content: space-between">
                                                <p class="card-text col-6" th:text="${job.location}"></p>
<!--                                                <p class="card-text col-6"-->
<!--                                                   th:text="'Salary: $' + ${job.getSalary()}"></p>-->
                                                <p class="card-text col-6" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>

                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="col-8  mb-4" style="float: left;">
                                                    <h5 style="text-align: center; ">Description</h5>
                                                    <input th:value="*{job.description}" class="form-control mt-1 showdescription"/>
<!--                                                    <p class="card-text showdescription" th:text="${job.description}"></p>-->
                                                </div>
                                                <div class="col-3"
                                                     style=" display: flex; float: right; flex-direction: column; justify-content: center">
                                                    <form action="/notes/create" th:action="@{/notes/create}"
                                                          method="post"
                                                          th:object="${note}">
                                                        <button type="button" class="btn btn-warning col-12"
                                                                data-bs-toggle="modal"
                                                                th:data-bs-target="${'#createNote' + job.id}"
                                                                data-bs-dismiss="modal">Create a note
                                                        </button>
                                                    </form>
                                                        <form action="/reminders/create" method="post" th:object="${reminder}">
                                                            <button style="margin-top: 1em;" type="button" class="btn btn-success col-12" data-bs-toggle="modal" th:data-bs-target="${'#firstContactReminder' + job.id}"
                                                                    data-bs-dismiss="modal">Create a reminder
                                                            </button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h5 class="col-8" style="text-align: center">Notes</h5>
                                            <div class="col-8" style="max-height: 25.25em;overflow-y: scroll">
                                                <div class="card col-12"
                                                     style="margin-bottom: 1em; display: flex; flex-direction: column"
                                                     th:each="note : ${notes}"
                                                     th:if="${note.getJobApplication().getId() == job.getId()}">
                                                    <h5 class="col-4" style="margin-top: 0.5em; margin-left: 0.5em;"
                                                        th:text="${note.title}"></h5>
                                                    <p style="display: flex; margin-left: 0.5em;"
                                                       th:text="${note.content}"></p>
                                                    <p style="font-size: 10px; display: flex; margin-right: 0.5em; justify-content: flex-end"
                                                       th:text="'Created on: ' + ${#dates.format(note.date, 'MM-dd-yyyy')}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a th:href="@{/jobApplications/{id}(id=${job.id})}" class="btn btn-primary">View
                                            All Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/notes/{id}/createFromKanban(id = ${job.id})}" method="post"
                              th:object="${note}">
                            <div class="modal fade" th:id="${'createNote' + job.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="contactedModalLabel">New Note</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="title-name" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="contacted-title-name"
                                                       th:field="*{title}"
                                                       th:value="*{title}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"
                                                          th:field="*{content}"
                                                          th:value="*{content}"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    th:data-bs-target="${'#firstContactModal' + job.id}"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/reminders/{id}/createFromKanban/(id=${job.id})}" method="post" th:object="${reminder}">
                            <div class="modal fade" th:id="${'firstContactReminder' + job.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="firstContactLabel">New Reminder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="titleName" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="title-contact" th:field="*{title}"
                                                       th:value="*{title}" placeholder="title">
                                            </div>
                                            <div class="mb-3">
                                                Description:

                                                <textarea type="text" class="form-control" name="description" placeholder="description"></textarea>
                                            </div>
                                            <div>
                                                <input class="mr-10" name="reminderSelect" value="email" type="radio" checked/> Reminder will be sent to
                                                your email
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" th:data-bs-target="${'#firstContactModal' + job.id}">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ol>
        </fieldset>

<!--INTERVIEW COLUMN-->
        <fieldset id="interview1" class="col-4 col-md-6 statusColumn">
            <ol id="interviewNum1" class="connectedSortable">
                <li><div><a  type="button" class="createJob" th:href="@{/jobApplications/create}">+</a></div></li>
                <li class=" jobCard row card draggable shadow" th:each="job : ${jobs3}">
                    <input type="hidden" name="jobId" th:value="${job.id}">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img class="round" th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                            <strong><p class="card-text" th:text="${job.company}"></p></strong>
                        </div>
                        <h6 class="card-title" th:text="${job.title}"></h6>
                        <p class="card-text greyText" th:text="${job.location}"></p>
<!--                        <p class="card-text greyText" th:text="'$' + ${job.salary}"></p>-->
                        <p class="card-text greyText" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="badge mb-1 showInfo d-flex align-items-center justify-content-center" data-bs-toggle="modal"
                                    th:data-bs-target="${'#int1Modal' + job.id}">
                                More
                            </button>
                        </div>
<!--INTERVIEW MODAL-->
                        <div class="modal fade" th:id="${'int1Modal' + job.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align: center">
                                        <img class="round"
                                             th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                                        <p class="card-text" th:text="${job.company}"></p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <h4 class="text-primary card-title col-8" style="text-align: center"
                                                th:text="${job.title}"></h4>
                                            <div style="display: flex; justify-content: space-between">
                                                <p class="card-text col-6" th:text="${job.location}"></p>
                                                <!--                                                <p class="card-text col-6"-->
                                                <!--                                                   th:text="'Salary: $' + ${job.getSalary()}"></p>-->
                                                <p class="card-text col-6" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>

                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="col-8  mb-4" style="float: left;">
                                                    <h5 style="text-align: center; ">Description</h5>
                                                    <input th:value="*{job.description}" class="form-control mt-1 showdescription"/>
                                                    <!--                                                    <p class="card-text showdescription" th:text="${job.description}"></p>-->
                                                </div>
                                                <div class="col-3"
                                                     style=" display: flex; float: right; flex-direction: column; justify-content: center">
                                                    <form action="/notes/create" th:action="@{/notes/create}"
                                                          method="post"
                                                          th:object="${note}">
                                                        <button type="button" class="btn btn-warning col-12"
                                                                data-bs-toggle="modal"
                                                                th:data-bs-target="${'#createNote' + job.id}"
                                                                data-bs-dismiss="modal">Create a note
                                                        </button>
                                                    </form>
                                                    <form action="/reminders/create" method="post" th:object="${reminder}">
                                                        <button style="margin-top: 1em;" type="button" class="btn btn-success col-12" data-bs-toggle="modal" th:data-bs-target="${'#int1Reminder' + job.id}"
                                                                data-bs-dismiss="modal">Create a reminder
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <h5 class="col-8" style="text-align: center">Notes</h5>
                                            <div class="col-8" style="max-height: 25.25em;overflow-y: scroll">
                                                <div class="card col-12"
                                                     style="margin-bottom: 1em; display: flex; flex-direction: column"
                                                     th:each="note : ${notes}"
                                                     th:if="${note.getJobApplication().getId() == job.getId()}">
                                                    <h5 class="col-4" style="margin-top: 0.5em; margin-left: 0.5em;"
                                                        th:text="${note.title}"></h5>
                                                    <p style="display: flex; margin-left: 0.5em;"
                                                       th:text="${note.content}"></p>
                                                    <p style="font-size: 10px; display: flex; margin-right: 0.5em; justify-content: flex-end"
                                                       th:text="'Created on: ' + ${#dates.format(note.date, 'MM-dd-yyyy')}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a th:href="@{/jobApplications/{id}(id=${job.id})}" class="btn btn-primary">View
                                            All Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/notes/{id}/createFromKanban(id = ${job.id})}" method="post"
                              th:object="${note}">
                            <div class="modal fade" th:id="${'createNote' + job.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="int1ModalLabel">New Note</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="title-name" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="int1-title-name"
                                                       th:field="*{title}"
                                                       th:value="*{title}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="int1-message-text"
                                                          th:field="*{content}"
                                                          th:value="*{content}"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    th:data-bs-target="${'#int1Modal' + job.id}"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/reminders/{id}/createFromKanban/(id=${job.id})}" method="post" th:object="${reminder}">
                            <div class="modal fade" th:id="${'int1Reminder' + job.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="intReminderLabel">New Reminder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="titleName" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="title-interview" th:field="*{title}"
                                                       th:value="*{title}" placeholder="title">
                                            </div>
                                            <div class="mb-3">
                                                Description:

                                                <textarea type="text" class="form-control" name="description" placeholder="description"></textarea>
                                            </div>
                                            <div>
                                                <input class="mr-10" name="reminderSelect" value="email" type="radio" checked/> Reminder will be sent to
                                                your email
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" th:data-bs-target="${'#int1Modal' + job.id}">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ol>
        </fieldset>
        <!--    &lt;!&ndash;INTERVIEW 2 COLUMN&ndash;&gt;-->
        <!--        <fieldset id="interview2" class="col-3 statusColumn hidden" style="border: 1px solid hotpink;">-->
        <!--            <div><h3 class="statusName">Interview #2</h3></div>-->
        <!--            <ol id="interviewNum2" class="connectedSortable"></ol>-->
        <!--            &lt;!&ndash;THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND&ndash;&gt;-->
        <!--        </fieldset>-->
        <!--    &lt;!&ndash;INTERVIEW 3 COLUMN&ndash;&gt;-->
        <!--        <fieldset id="interview3" class="col-3 statusColumn hidden" style="border: 1px solid hotpink;">-->
        <!--            <div><h3 class="statusName">Interview #3</h3></div>-->
        <!--            <ol id="interviewNum3" class="connectedSortable"></ol>-->
        <!--            &lt;!&ndash;THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND&ndash;&gt;-->
        <!--        </fieldset>-->

<!--OFFER MADE COLUMN-->
        <fieldset id="offerMade" class="col-4 col-md-6 statusColumn">
            <ol id="offeredJobs" class="connectedSortable offeredJobs ui-sortable">
                <li><div><a  type="button" class="createJob" th:href="@{/jobApplications/create}">+</a></div></li>
                <li class=" jobCard row card draggable shadow" th:each="job : ${jobs4}">
                    <input type="hidden" name="jobId" th:value="${job.id}">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img class="round" th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                            <strong><p class="card-text" th:text="${job.company}"></p></strong>
                        </div>
                        <h6 class="card-title" th:text="${job.title}"></h6>
                        <p class="card-text greyText" th:text="${job.location}"></p>
<!--                        <p class="card-text greyText" th:text="'$' + ${job.salary}"></p>-->
                        <p class="card-text greyText" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="badge mb-1 showInfo d-flex align-items-center justify-content-center" data-bs-toggle="modal"
                                    th:data-bs-target="${'#offerModal' + job.id}">
                                More
                            </button>
                        </div>
                        <div class="modal fade" th:id="${'offerModal' + job.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="text-align: center">
                                        <img class="round"
                                             th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                                        <strong><p class="card-text" th:text="${job.company}"></p></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <h4 class="text-primary card-title col-8" style="text-align: center"
                                                th:text="${job.title}"></h4>
                                            <div style="display: flex; justify-content: space-between">
                                                <p class="card-text col-6" th:text="${job.location}"></p>
<!--                                                <p class="card-text col-6"-->
<!--                                                   th:text="'Salary: $' + ${job.getSalary()}"></p>-->
                                                <p class="card-text col-6" th:text="${job.salary != null} ? ${#strings.replace(#numbers.formatCurrency(job.salary), '.00', '')} : ''"></p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="col-8  mb-4" style="float: left;">
                                                    <h5 style="text-align: center; ">Description</h5>
<!--                                                    <p class="card-text" style="margin-bottom: 2em" th:text="${job.description}"></p>-->
                                                    <input th:value="*{job.description}" class="form-control mt-1 showdescription"/>
                                                </div>
                                                <div class="col-3"
                                                     style=" display: flex; float: right; flex-direction: column; justify-content: center">
                                                    <form action="/notes/create" th:action="@{/notes/create}"
                                                          method="post"
                                                          th:object="${note}">
                                                        <button type="button" class="btn btn-warning col-12"
                                                                data-bs-toggle="modal"
                                                                th:data-bs-target="${'#createNote' + job.id}"
                                                                data-bs-dismiss="modal">Create a note
                                                        </button>
                                                        <form action="/reminders/create" method="post" th:object="${reminder}">
                                                            <button style="margin-top: 1em;" type="button" class="btn btn-success col-12" data-bs-toggle="modal" th:data-bs-target="${'#offerReminder' + job.id}"
                                                                    data-bs-dismiss="modal">Create a reminder
                                                            </button>
                                                        </form>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <h5 class="col-8" style="text-align: center">Notes</h5>
                                            <div class="col-8" style="max-height: 25.25em;overflow-y: scroll">
                                                <div class="card col-12"
                                                     style="margin-bottom: 1em; display: flex; flex-direction: column"
                                                     th:each="note : ${notes}"
                                                     th:if="${note.getJobApplication().getId() == job.getId()}">
                                                    <h5 class="col-4" style="margin-top: 0.5em; margin-left: 0.5em;"
                                                        th:text="${note.title}"></h5>
                                                    <p style="display: flex; margin-left: 0.5em;"
                                                       th:text="${note.content}"></p>
                                                    <p style="font-size: 10px; display: flex; margin-right: 0.5em; justify-content: flex-end"
                                                       th:text="'Created on: ' + ${#dates.format(note.date, 'MM-dd-yyyy')}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a th:href="@{/jobApplications/{id}(id=${job.id})}" class="btn btn-primary">View
                                            All Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/notes/{id}/createFromKanban(id = ${job.id})}" method="post"
                              th:object="${note}">
                            <div class="modal fade" th:id="${'createNote' + job.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="offerMadeLabel">New Note</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="title-name" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="title-name"
                                                       th:field="*{title}"
                                                       th:value="*{title}" placeholder="Title">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="offerMade-message-text"
                                                          th:field="*{content}"
                                                          th:value="*{content}" placeholder="Content"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    th:data-bs-target="${'#offerModal' + job.id}"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/reminders/{id}/createFromKanban/(id=${job.id})}" method="post" th:object="${reminder}">
                            <div class="modal fade" th:id="${'offerReminder' + job.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="offerModalLabel">New Reminder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="titleName" class="col-form-label">Title</label>
                                                <input type="text" class="form-control" id="title-offer" th:field="*{title}"
                                                       th:value="*{title}" placeholder="title">
                                            </div>
                                            <div class="mb-3">
                                                Description:
                                                <textarea type="text" class="form-control" name="description" placeholder="description"></textarea>
                                            </div>
                                            <div>
                                                <input class="mr-10" name="reminderSelect" value="email" type="radio" checked/> Reminder will be sent to
                                                your email
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" th:data-bs-target="${'#offerModal' + job.id}">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </li>
            </ol>
        </fieldset>
    </div>
</form>

<!--JAVASCRIPT & BOOTSTRAP-->
<th:block th:replace="partials/javaScriptTag.html :: scriptBlock"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!--FOOTER-->
<footer th:block th:replace="partials/footer :: footer"></footer>
</body>
</html>