<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('All Job Applications')" />
<body>
<th:block th:replace="partials/navbar :: navbar"></th:block>
<h1>JOBS INDEX</h1>
<img src="//logo.clearbit.com/spotify.com">
<div class="container-fluid d-flex justify-content-between" id="kanbanContainer" style="border: 2px solid slategray; width: 98%; height: 60em">

    <fieldset id="appliedTo" class="col-3 statusColumn" style="border: 1px solid hotpink;">
        <div class="">
            <h3 class="statusName">Applied To:</h3>
        </div>
        <ol id="appliedJobs" class="connectedSortable">
            <li class=" jobCard row card draggable " th:each="job : ${jobs}">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                        <img th:src="'//logo.clearbit.com/' + ${job.company} + '.com?size=40'">
                        <strong><p class="card-text" th:text="${job.company}"></p></strong>
                    </div>
                    <h6 class="text-primary card-title" th:text="${job.title}"></h6>
<!--                    make this a link (above line)-->
                    <p class="card-text" th:text="${job.location}"></p>
                    <p class="card-text" th:text="'$' + ${job.salary}"></p>
                    <div class="d-flex align-items-center">
                        <form th:action="'/jobApplications/' + ${job.id} + '/edit'" method="get">
                            <input type="hidden" name="jobApplicationsId" value="${jobApplications.id}">
                            <button class="m-2" type="submit" name="editBtn" value="edit">Edit</button>
                        </form>
                        <form th:action="'/jobApplications/' + ${job.id} + '/delete'" th:method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
        </ol>


    </fieldset>
<!--FIRST CONTACT COLUMN-->
    <fieldset id="firstContact" class="col-3 statusColumn" style="border: 1px solid hotpink;">
        <div><h3 class="statusName">First Contact:</h3></div>
        <ol id="contactedJobs" class="connectedSortable"></ol>
        <!--THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND-->
    </fieldset>
<!--INTERVIEW 1 COLUMN-->
    <fieldset id="interview1" class="col-3 statusColumn" style="border: 1px solid hotpink;">
        <div><h3 class="statusName">Interview #1:</h3></div>
        <ol id="interviewNum1" class="connectedSortable"></ol>
        <!--THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND-->
    </fieldset>
<!--INTERVIEW 2 COLUMN-->
    <fieldset id="interview2" class="col-3 statusColumn hidden" style="border: 1px solid hotpink;">
        <div><h3 class="statusName">Interview #2:</h3></div>
        <ol id="interviewNum2" class="connectedSortable"></ol>
        <!--THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND-->
    </fieldset>
<!--INTERVIEW 3 COLUMN-->
    <fieldset id="interview3" class="col-3 statusColumn hidden" style="border: 1px solid hotpink;">
        <div><h3 class="statusName">Interview #3:</h3></div>
        <ol id="interviewNum3" class="connectedSortable"></ol>
        <!--THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND-->
    </fieldset>
<!--OFFER MADE COLUMN-->
    <fieldset id="offerMade" class="col-3 statusColumn" style="border: 1px solid hotpink;">
        <div><h3 class="statusName">Offer Made:</h3></div>
        <ol id="offeredJobs" class="connectedSortable"></ol>
        <!--THIS IS THE SPACE IN WHICH THE CARD WOULD BE MOVED INTO ON DRAGEND-->
    </fieldset>





</div>
<th:block th:replace="partials/javaScriptTag.html :: scriptBlock"/>
</body>
</html>