<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('Job Application')"/>
<body>
<th:block th:replace="partials/navbar :: navbar"></th:block>
<div class="container-fluid row justify-content-evenly m-auto">

    <!--TOP LEFT OF PAGE-->
    <div class="card mt-5 p-4 col-10">
        <div class="row">
            <div class="d-flex col-6">
                <img class="round" th:src="'//logo.clearbit.com/' + ${jobApp.company} + '.com?size=40'">
                <p class="card-text align-self-center" th:text="${jobApp.company}"></p>
            </div>
            <!--BUTTONS-->
            <div th:if="${isJobOwner}" class="d-flex col-6 justify-content-end">
                <form th:action="@{/jobApplications/{id}/edit(id=${jobApp.id})}" method="get">
                    <button class="m-3 btn btn-secondary" type="submit">Edit</button>
                </form>
                <form th:action="@{/jobApplications/{id}/delete(id=${jobApp.id})}" method="post">
                    <button class="m-3 btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <h3 class="text-primary card-title text-center" th:text="${jobApp.title}"></h3>
        <div class="d-flex justify-content-around mt-2">
            <p th:text="' ' + ${jobApp.location}" class="fw-bold"></p>
            <p th:text="${#strings.replace(#numbers.formatCurrency(jobApp.salary), '.00', '')}" class="fw-bold"></p>
        </div>
            <input th:field="*{jobApp.description}" class="form-control mt-1" id="showdescription"/>
    </div>

<!--NOTES-->
    <div class="d-flex container my-2 align-items-center col-10">
    <h4 class="mt-2">NOTES</h4>
        <form th:action="@{/notes/{id}/create(id = ${jobApp.getId()})}" method="post" th:object="${note}" class="">
            <button type="button" class="btn btn-primary ms-5" data-bs-toggle="modal" data-bs-target="#createNote">Create</button>
            <div th:replace="notes/create.html :: #createNote"></div>
        </form>
    </div>

    <div class="card container justify-content-start mb-2 col-10" th:each="note : ${notes}">
        <div class="container d-flex p-1">
        <!-- NOTE CARD-->
            <p class="col-1" th:text="${#dates.format(note.date, 'MM/dd/yy')}"></p>
            <h5 class="col-2" th:text="${note.title}"></h5>
            <p class="col-6" th:text="${note.content}"></p>
        <!--        NOTE CARD BUTTONS-->
            <div class="col-3 d-flex justify-content-end">
                <form th:action="@{/notes/{id}/edit/{jobId}(id = ${note.id}, jobId = ${jobApp.getId()})}" method="post" th:object="${note}">
                    <button type="button" class="btn btn-sm btn-primary m-2 px-3" data-bs-toggle="modal" th:data-bs-target="${'#editNote'+ note.id}">Edit</button>
        <!--                MODAL-->
                    <div class="modal fade" th:id="${'editNote' + note.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body justify-content-center">
                                    <div class="mb-3">
                                        <label for="title" class="col-form-label">Title: </label>
                                        <br>
                                        <input id="title" style="width: 25em"  class="card-title p-1" th:field="*{title}"  th:placeholder="*{title}"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="content" class="col-form-label">Message:</label>
                                        <textarea id="content" style="width: 25em"  class="card-title p-1" th:field="*{content}" th:placeholder="*{content}"></textarea>
                                    </div>
                                </div>
        <!--                        MODAL BUTTONS-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="save" class="btn btn-success">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form th:action="@{/notes/{id}/delete/{jobId}(id = ${note.id}, jobId = ${jobApp.getId()})}" th:object="${note}" method="post">
                    <button type="submit" class="btn btn-sm btn-danger m-2">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <!--REMINDERS-->
    <div class="d-flex container my-2 align-items-center">
        <h4 class="mt-2">REMINDERS</h4>
        <!--    CREATE REMINDER BUTTON-->
        <form th:action="@{/reminders/{id}/create(id=${jobApp.getId()})}" method="post" th:object="${jobApp}">
            <button type="button" class="btn btn-primary ms-5 text-nowrap" data-bs-toggle="modal" data-bs-target="#createReminder">Create Reminder</button>
            <div th:replace="reminders/create.html :: #createReminder"></div>
        </form>
    </div>

<!--    REMINDER CARDS-->
    <div th:each="reminder : ${reminders}" class="card container justify-content-start mb-2 col-10">
        <div class="container d-flex p-1">
            <h5 class="col-3" th:text="${reminder.title}"></h5>
            <p class="col-6" th:text="${reminder.description}"></p>
            <!-- REMINDER CARD BUTTONS-->
            <div class="col-3 d-flex justify-content-end">
                <form th:action="@{/reminders/{id}/edit/{jobId}/(id = ${reminder.getReminder_id()}, jobId = ${jobApp.getId()})}" method="post" th:object="${reminder}">
                    <button type="button" class="btn btn-sm btn-primary m-2 px-3" data-bs-toggle="modal"
                            th:data-bs-target="${'#editReminder'+ reminder.reminder_id}">Edit</button>
                    <div class="modal fade" th:id="${'editReminder' + reminder.reminder_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Edit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="reminderTitle" class="col-form-label">Title</label>
                                        <input id="reminderTitle" style="width: 25em"  class="card-title" th:field="*{title}"  th:placeholder="*{title}"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="col-form-label">Description:</label>
                                        <textarea id="description" style="width: 25em"  class="card-title" th:field="*{description}" th:placeholder="*{description}"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="save">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form th:action="@{/reminders/{id}/delete/{jobId}(id=${reminder.reminder_id}, jobId = ${jobApp.getId()})}" method="post">
                    <button type="submit" class="btn btn-sm btn-danger m-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<footer th:block th:replace="partials/footer :: footer"></footer>

</body>
</html>
