HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application.properties

### Email Service ###

echo "export SENDGRID_API_KEY='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'" > sendgrid.env
echo "sendgrid.env" >> .gitignore
source ./sendgrid.env