<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head :: head ('Test Modals')" />
<body>

<!--TODO Get the test modals file to work with the create a note modal. that way you can add it to the job apps next
to the edit and delete button. that way the notes are created with whatever id the job app is and finally coming full circle.
 todo Figure out why it works here with the modals/_modals.html example and it will solve the problem-->
<!--todo from there you can add the index(maybe another modal?) to only show the notes with that job app id.-->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--</button>-->

<!--&lt;!&ndash;<div th:replace="modals/_modals.html :: #exampleModal"></div>&ndash;&gt;-->


<!--this now works after adding needed components into the controller-->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNote"-->
<!--        data-bs-whatever="@mdo">Create a note-->
<!--</button>-->
<!--<form action="/notes/create" th:action="@{/notes/create}" method="post" th:object="${note}">-->
<!--<div th:replace="/notes/create.html :: #createNote"></div>-->
<!--</form>-->



<!--            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                <div th:replace="modals/_modals.html :: testModal"></div>-->
<!--            </div>-->
<!-- Modal -->


<!--<div class="container">-->
<!--    <div class="row mt-5">-->
<!--        <div class="col">-->
<!--            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#testModal">-->
<!--                Launch Modal-->
<!--            </button>-->

<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">-->
<!--                Dynamic modal 1-->
<!--            </button>-->

<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">-->
<!--                Dynamic modal 2-->
<!--            </button>-->

<!--&lt;!&ndash;            TODO these scripts are causing all the issues and wont allow the file path to run. need to troubleshoot and figure that out.&ndash;&gt;-->

<!--&lt;!&ndash;            <th:block th:replace="modals/_modals.html :: testModal"></th:block>&ndash;&gt;-->
<!--&lt;!&ndash;            <th:block th:replace="_modals :: modal('exampleModal1')">modal</th:block>&ndash;&gt;-->
<!--&lt;!&ndash;            <th:block th:replace="_modals :: modal('exampleModal2')">modal</th:block>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--needed for all modals!-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>