<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('create')" />
<body>
<h3>Create A Reminder: </h3>
<form th:action="@{/reminders/create/{id}(id=${id})}" method="post" th:object="${job}">
    Title:
    <input th:field="*{title}" th:object="${reminder}" />
    <br />
    Description:
    <textarea th:field="*{description}" th:object="${reminder}"></textarea>
    <br />
    <div>
    Reminder options:
        <input name="email" value="true" type="checkbox" checked>Email
        <input name="appPortal" value="true" type="checkbox" checked>Application Portal
        <input name="research" value="true" type="checkbox" checked>Research
    </div>
</form>
</body>
</html>