<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('create')" />
<body>
<h3>Create A Reminder: </h3>
<form th:action="@{/reminders/create/{id}(id=${job})}" method="post" th:object="${reminder}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <textarea th:field="*{description}"></textarea>
    <br />
    <div>
<!--        // TODO: post mapping get parameter of form: switch statement
  opt 1:
  opt 2:
  opt 3:
  -->
    </div>
</form>
</body>
</html>