<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="partials/head :: head ('Edit')" />-->
<!--<body>-->
<!--<main class="container">-->
<!--    <div class="card offwhite-body">-->
<!--        <div class="card-content">-->
<!--            <h1>Edit Reminder</h1>-->
<!--            <form th:action="@{/reminders/{id}/edit(id=${id})}" th:object="${reminder}" method="post">-->
<!--                <label for="title">Title</label>-->
<!--                <input id="title" style="width: 25em"  class="card-title" th:field="*{title}" th:placeholder="*{title}" />-->
<!--                <br>-->
<!--                <label for="content">Description</label>-->
<!--                <input id="content" style="width: 25em"  class="card-title" th:field="*{description}" th:placeholder="*{description}"/>-->
<!--                <br>-->
<!--                <div>-->
<!--                    <button type="submit" name="save">Save changes</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->