<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('reminders')" />
<body>
<!--TODO: form needs options (buttons) for type of reminders -->
<th:block th:replace="partials/navbar :: navbar"></th:block>
<main class="container">
    <h3 class="card-title" style="text-align: center">Viewing All Reminders</h3>
    <div class="card" th:each="reminder : ${reminders}">
        <div class="card offwhite-body">
            <div class="card-content preview-post">
                <h4 class="card-title" th:text="${reminder.title}"></h4>
                <p th:text="${reminder.description}"></p>
            </div>
            <div class="small-space"/></div>
        <form th:action="@{/reminders/{id}/delete(id = ${reminder.getReminder_id()})}" method="post">
            <button class="btn-small btn-danger">Delete Reminder</button>
        </form>
        <form th:action="@{/reminders/{id}/edit(id = ${reminder.getReminder_id()})}" method="get">
            <button class="btn-small btn-primary">Edit Reminder</button>
        </form>
    </div>
</main>
</body>
</html>
