<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">

        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">

                <!--THE CLICKABLE LOGO-->
                <div class="nav-item active">
                    <form class="navbar-brand" th:action="@{/}" th:method="get" id="home">
                        <a onclick="document.getElementById('home').submit();" class="nav-link active">
                            <img src="img/Applitraq_Logo-final.png" alt="AppliTraq-Logo" width="225" height="45" style="border: none">
                        </a>
                    </form>
                </div>

                <!--BUTTON FOR WHEN NAVBAR IS COLLAPSED ON MOBILE VIEW-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--THIS IS THE NAVBAR LIST WITH ITEMS-->
                <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                    <ol class="navbar-nav  ">
                        <li sec:authorize="!isAuthenticated()" class="nav-item ms-auto">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/register">Register</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form th:action="@{/jobApplications}" th:method="get" id="jobApplications">
                                <a onclick="document.getElementById('jobApplications').submit();" class="nav-link active">My Apps</a>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item active">
                            <form th:action="@{/timeline}" th:method="get" id="timeline">
                                <a onclick="document.getElementById('timeline').submit();" class="nav-link active">Timeline</a>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <form th:action="@{/resources}" th:method="get" id="resources">
                                <a class="nav-link active" aria-current="page" href="/resources">Resources</a>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form th:action="@{/about}" th:method="get" id="about">
                                <a onclick="document.getElementById('about').submit();" class="nav-link active">About</a>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item ms-auto">
                            <form th:action="@{/profile}" th:method="get" id="profile">
                                <a onclick="document.getElementById('profile').submit();" class="nav-link active">Profile</a>
                            </form>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form th:action="@{/logout}" th:method="post" id="form1">
                                <a onclick="document.getElementById('form1').submit();" class="nav-link active">Log Out</a>
                            </form>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>

        <!--THE CLICKABLE LOGO-->
        <!--<div class="nav-item active">
            <form class="navbar-brand" th:action="@{/}" th:method="get" id="home">
                <a onclick="document.getElementById('home').submit();" class="nav-link active">
                    <img src="img/Applitraq_Logo-Final.png" alt="AppliTraq-Logo" width="225" height="45" style="border: none">
                </a>
            </form>
        </div>

        &lt;!&ndash;BUTTON FOR WHEN NAVBAR IS COLLAPSED ON MOBILE VIEW&ndash;&gt;
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        &lt;!&ndash;THIS IS THE NAVBAR LIST WITH ITEMS&ndash;&gt;
        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
            <ol class="navbar-nav  ">
                <li sec:authorize="!isAuthenticated()" class="nav-item ms-auto">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/jobApplications}" th:method="get" id="jobApplications">
                        <a onclick="document.getElementById('jobApplications').submit();" class="nav-link active">My Apps</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <form th:action="@{/timeline}" th:method="get" id="timeline">
                        <a onclick="document.getElementById('timeline').submit();" class="nav-link active">Timeline</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/resources}" th:method="get" id="resources">
                        <a class="nav-link active" aria-current="page" href="/resources">Resources</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/about}" th:method="get" id="about">
                        <a onclick="document.getElementById('about').submit();" class="nav-link active">About</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item ms-auto">
                    <form th:action="@{/profile}" th:method="get" id="profile">
                        <a onclick="document.getElementById('profile').submit();" class="nav-link active">Profile</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="post" id="form1">
                        <a onclick="document.getElementById('form1').submit();" class="nav-link active">Log Out</a>
                    </form>
                </li>
            </ol>
        </div>-->
    </div>
</nav>
</body>
</html>

