<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


        <!--THIS IS THE CLICKABLE LOGO-->
        <div class="nav-item active">
            <form class="navbar-brand" th:action="@{/}" th:method="get" id="home">
                <a onclick="document.getElementById('home').submit();" class="nav-link active">Applitraq</a>
            </form>
        </div>


        <!--THIS IS THE BUTTON FOR WHEN NAVBAR IS COLLAPSED ON MOBILE VIEW-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--THIS IS THE NAVBAR LIST WITH ITEMS-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/about}" th:method="get" id="about">
                        <a onclick="document.getElementById('about').submit();" class="nav-link active">About</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/jobApplications/create}" th:method="get" id="create">
                        <a onclick="document.getElementById('create').submit();" class="nav-link active">Create</a>
                    </form> <!--added this-->
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/jobApplications}" th:method="get" id="jobApplications">
                        <a onclick="document.getElementById('jobApplications').submit();" class="nav-link active">My
                            Apps</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <form th:action="@{/timeline}" th:method="get" id="timeline">
                        <a onclick="document.getElementById('timeline').submit();" class="nav-link active">Timeline</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/profile}" th:method="get" id="profile">
                        <a onclick="document.getElementById('profile').submit();" class="nav-link active">Profile</a>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" th:method="post" id="form1">
                        <a onclick="document.getElementById('form1').submit();" class="nav-link active">Log Out</a>
                    </form>
                </li>
                <li>
                    <form th:action="@{/search}" th:method="get">
                        <input class="form-control me-2" type="search" name="search" id="search" placeholder="search">
                        <!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
                    </form>
                </li>
                <li>
                    <form th:action="@{/password}" th:method="get">
                        <button class="btn btn-outline-success ml-1" type="submit">Reset Password</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>

