<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Edit Profile')" />

<body>
<main class="container">
    <h1>Here is where you edit your profile</h1>
<!--    <div class="card offwhite-body">-->
<!--        <div class="card-content">-->
<!--            <h1>Edit post</h1>-->
<!--            <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post">-->
<!--                <input style="width: 25em"  class="card-title" th:value="${post.title}" name="title" />-->
<!--                <br>-->
<!--                <textarea style="width: 25em; height: 12em" th:text="${post.body}" class="i-like-paragraphs" name="body"></textarea>-->
<!--                <br>-->
<!--                <button type="submit" name="save">Save changes</button>-->
<!--            </form>-->
<!--            <br />-->
<!--        </div>-->
<!--    </div>-->
</main>
</body>
</html>

