<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head ('Reset password')" />
<body>
<h1 class="d-flex justify-content-center my-4">Rest password:</h1>

<form th:action="@{/password}" method="POST" th:object="${user}">
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" th:field="*{password}" />


        <input id="password-confirm" name="password-confirm" type="password" class="validate form-control" />
        <label for="password-confirm">Confirm Password</label>
        <span class="helper-text" data-error="OOPS, your passwords don't match!" data-success="Fantastic!"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
</body>
</html>