<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Profile')" />
<body>
<th:block th:replace="partials/navbar :: navbar"></th:block>
<div class="card user-profile" style="width: 24rem;">
    <div class="card-body">
        <h2 class="text-center" th:text="Welcome + ' ' + ${user.username} + '!'"></h2>
        <p class="card-title" th:text="Email + ': ' + ${user.email}"></p>
        <p class="card-title" th:text="Age + ': ' + ${user.age}"></p>
        <p class="card-title" th:text="Gender + ': ' + ${user.gender}"></p>
        <p class="card-title" th:text="Location + ': ' + ${user.location}"></p>
    </div>
    <form th:action="@{/profile/{id}/edit(id=${user.id})}" method="get">
        <button  class="btn-user btn btn-outline-info" type="submit">Edit</button>
    </form>
    <form th:action="@{/password}" th:method="get">
        <button class="btn-user btn btn-outline-info" type="submit">Reset Password</button>
    </form>
    <form th:action="@{/delete/{id}(id=${user.id})}" th:object="${user}" method="get">
        <button class="btn-user btn btn-outline-danger" type="submit">Delete Account</button>
    </form>
</div>
<div class="card profile-app w-75">
    <div class="card-body">
        <h5 class="card-title">Job Applications</h5>
        <p>Applications you have submitted: </p>
        <p class="card-text" th:text="${jobsNum}"></p>
        <a href="/jobApplications" class="btn btn-primary">Go to Applications</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Reminders</h5>
        <p>Current number of reminders:  </p>
        <p class="card-text" th:text="${reminderNum}"></p>
        <a href="/reminders/index" class="btn btn-primary go-btn">Go to Reminders</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Notes</h5>
        <p>Number of notes created: </p>
        <p class="card-text" th:text="${notesNum}"></p>
<!--        <a href="/notes/index" class="btn btn-primary">Go to Notes</a>-->
    </div>
</div>
<th:block th:replace="partials/javaScriptTag.html :: scriptBlock"/>
</body>
</html>

