<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Join Us!')" />
<body>
<th:block th:replace="partials/navbar :: navbar"></th:block>
<div class="card">
    <div class="card-body">
        <h1>JOIN US!</h1>
        <form th:action="@{/register}" method="POST" th:object="${user}">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-group" id="email" th:field="*{email}" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" th:field="*{password}" />

                <input id="password-confirm" name="password-confirm" type="password" class="validate form-control" />
                <label for="password-confirm">Confirm Password</label>
                <span class="helper-text" data-error="OOPS, your passwords don't match!" data-success="Fantastic!"></span>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-Binary">Non-Binary</option>
                    <option value="Not Declared">Not Declared</option>
                </select>
            </div>

<!--            <label for="gender">Gender</label>-->
<!--            <select multiple class="form-control" id="gender">-->
<!--                <option>Gender</option>-->
<!--                <option>Gender</option>-->
<!--                <option>Gender</option>-->
<!--                <option>Gender</option>-->
<!--            </select>-->

            <label for="Age">Age</label>
            <input th:field="*{age}" id="Age" />

            <label for="location">Location</label>
            <input name="location" id="location" />

            <input value="Sign me up!" type="submit" />
        </form>
    </div>
</div>
<script>
</script>
</body>
</html>