@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

/* THIS IS CSS FOR KANBAN*/
 #kanbanContainer {
     padding: .5em;
     height: 90vh;
     /*border: 2px solid slategray; */
     width: 98%;
     height: 60em;
 }
.searchContainer {
    margin: 0;
    margin-bottom: 2em;
    width: 50%;
}
#search {
    border: 2px solid dimgrey;
}

 #searchBar {
     height: 1.5em;
     width: 35em;}

 #searchButton {
     width: 3em;
     border: 2px solid;
     color: #EE4E34;
 }

#searchButton:hover {
    width: 3em;
    border: 2px solid;
    background-color: #EE4E34;
    color: whitesmoke;
}

 /*class for logo*/
 .round {
     border-radius: 50px;
     border: 1px lightslategray;
     margin-right: 1em;
 }

.statusColumn {
    width: 20%;
    overflow: auto;
    border-radius: 10px;
    padding: .5em;
    background-color: whitesmoke;
}

#statusNameContainer {
    margin: 1em 0;
    padding-left: 1em;
}

.statusNameDiv {
    width: 20%;
    /*margin-right: 1em ;*/
}

.statusName {
    margin: 0;
    padding: 4px;
    width: 93%;
    font-weight: bold;
    font-size: 1.5em;
}

ol {
    padding-left: 0;
}

.card-title {
    /*color: #EE4E34;*/
    color: #2196f3;

}

.greyText {
    color: lightslategrey;
}

.card-body {
    padding: 1em;
}

.jobCard {
    height: 16em;
    padding: 1em;
    margin: 1em 1em 1.5em 1em;
    border-radius: 10px;
}

.jobCard-highlight {
    height: 16em;
    width: 16em;
    background-color: lightsteelblue;
}

 .showInfo{
    /*width: 5px;*/
    /*background: red;*/
    border: none;
}

.hidden {
    display: none;
}

ol {
    list-style-type: none;
    height: 100%;
}

/* THIS IS END OF KANBAN CSS*/

/*THIS IS THE CSS FOR THE CREAT JOBS FORM*/

textarea {
    height: 300px;
}

.showInfo {
    height: 2em;
    width: 7em;
}

/*THIS IS THE END OF THE CSS FOR THE CREATE JOBS FORM*/

/*THIS IS CSS FOR TIMELINE*/
/*TODO can't figure out how to target the cols to get them to turn hot pink*/
.months {
    width: 70%;
    margin: auto;
}

/*keeps the calendar all on one row*/
.gantt-timeline {
    display: grid;
    justify-content: center;
    padding-top: 5em;
}

/* dividers */
.dividers {
    border-left: 1px solid lightgrey;
    grid-row: 1 / span 25;

}
/* months */
.gantt-timeline h4 {
    text-align: center;
    grid-row: 1;
}

/*row width for row col*/
#january {
    width: 130px;
    padding: 0;
}
#february {
    width: 130px;
    padding: 0;
}

#march{
    width: 130px;
    padding: 0;
}

#april {
    width: 130px;
    padding: 0;
}

#may {
    width: 130px;
    padding: 0;
}

#june {
    width: 130px;
    padding: 0;
}

#july {
    width: 130px;
    padding: 0;
}

#august {
    width: 130px;
    padding: 0;
}

#september {
    width: 130px;
    padding: 0;
}

#october {
    width: 130px;
    padding: 0;
}

#november {
    width: 130px;
    padding: 0;
}

#december {
    width: 130px;
    padding: 0;
}


/*@media only screen and (min-width: 600px) {
    .gantt div {
        font-size: 16px;
    }
}*/

/* specific task styles */
.status1 { background: lightpink; grid-row: 2; }
.status2 { background: #33a8a5; grid-row: 3; }
.status3 { background: coral; grid-row: 4; }
.status4 { background: #6a478f; grid-row: 5; }
/*END OF TIMELINE CSS*/


/* PROFILE CSS */
.profile-app {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-top: 20px;
}

.profile-app {
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-profile {
    border: 2px solid black;
}

.go-btn {
    border: 2px solid #023047;
}

.profile-edit {
    display: flex;
    flex-direction: row;
}

.pro-btn {
    background-color: #023047;
    color: white;
}

.user-stats {
    margin: 1rem;
}

.button-style {
    max-width: 75%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 75%;
    margin: auto;
    text-align: left;
    background: rgb(2,48,71);
    background: linear-gradient(10deg, rgba(2,48,71,1) 0%, rgba(6,62,86,1) 14%, rgba(33,158,188,1) 100%);
}

.title {
    color: #e0e0e5;
    font-size: 18px;
}

.btn-user {
    border: none;
    outline: 0;
    color: #ffffff;
    background-color: #023047;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin: .25rem;
}

.user-stats {
    float:none; /* disable the float */
    text-align: initial; /* restore text-align to default */
    width: 315px;
    height: 260px;
    margin-top: 4rem;
    box-shadow: 0 0 .4rem rgba(19, 18, 18, 0.45);
}

hr {
    border: .19rem solid #8ecae6;
    margin: 1rem;
}

.location {
    text-decoration: none;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.85);
}

button:hover, a:hover {
    opacity: 0.7;
}

.outline-shadow {
    box-shadow: 0 0 .4rem rgba(19, 18, 18, 0.45);
}

/**** END OF PROFILE CSS ****/

/*HANNAH WITCHCRAFT*/

/* SHOW PAGE */
/*THIS DOESNT WORK*/
.tox {
    border: white;
}

.lead, .profile-edit, .display-4 {
    display: flex;
    justify-content: center;
}


#clearbit {
    font-size: 12px;
    color: lightsteelblue;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
}
