@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

}

::-webkit-scrollbar {
    display: none;
}

/* THIS IS CSS FOR KANBAN*/
 #kanbanContainer {
     padding: .5em;
 }
.searchContainer {
    margin: 0;
    margin-bottom: 2em;
    width: 50%;
}

 #searchBar {
     height: 1.5em;
     width: 35em;}

 #searchButton {
     width: 1em;
     margin-left: 3em;
 }

 /*class for logo*/
 .round {
     border-radius: 50px;
     border: 1px lightslategray;
     margin-right: 1em;
 }

.statusColumn {
    width: 20%;
    overflow: auto;
    border-radius: 10px;
    padding: .5em;
    background-color: whitesmoke;
}

#statusNameContainer {
    margin: 1em 0;
    padding-left: 1em;
}

.statusNameDiv {
    width: 20%;
    /*margin-right: 1em ;*/
}

.statusName {
    margin: 0;
    padding: 4px;
    width: 93%;
    font-weight: bold;
    font-size: 1.3em;
}

ol {
    padding-left: 0;
}

.card-body {
    padding: 1em;
}

.jobCard {
    height: 16em;
    padding: 1em;
    margin: .5em;
}

.jobCard-highlight {
    height: 16em;
    width: 16em;
    background-color: lightsteelblue;
}

 button .showInfo{
    /*width: 5px;*/
    /*background: red;*/
    border: none;
}

.hidden {
    display: none;
}

ol {
    list-style-type: none;
    height: 100%;
}

/* THIS IS END OF KANBAN CSS*/

/*THIS IS THE CSS FOR THE CREAT JOBS FORM*/

textarea {
    height: 300px;
}

.showInfo {
    height: 2em;
    width: 7em;
}

/*THIS IS THE END OF THE CSS FOR THE CREATE JOBS FORM*/

/*THIS IS CSS FOR TIMELINE*/
/*TODO can't figure out how to target the cols to get them to turn hot pink*/
#applied {
    background-color: #03a892;
}

#interviewOne {
    background-color: #6a478f;
}

#interview2 {
    background-color: hotpink;
}

#offered {
    background-color: coral;
}
.months {
    width: 70%;
    margin: auto;
}

/*keeps the calendar all on one row*/
.gantt-timeline {
    display: grid;
    justify-content: center;
    padding-top: 5em;
}

/* dividers */
.dividers {
    /*border-left: 1px solid lightgrey;*/
    grid-row: 1 / span 25;
    box-shadow: 0 0 .4rem #ffffff;

}
/* months */
.gantt-timeline h4 {
    text-align: center;
    grid-row: 1;
    background-color: #8ECAE6;
    /*border-radius: 100%;*/
    /*height: 100vh;*/
}


/*row width for row col*/
#january {
    width: 140px;
    padding: 0;
}
#february {
    width: 140px;
    padding: 0;
}

#march{
    width: 140px;
    padding: 0;
}

#april {
    width: 140px;
    padding: 0;
}

#may {
    width: 140px;
    padding: 0;
}

#june {
    width: 140px;
    padding: 0;
}

#july {
    width: 140px;
    padding: 0;
}

#august {
    width: 140px;
    padding: 0;
}

#september {
    width: 140px;
    padding: 0;
}

#october {
    width: 140px;
    padding: 0;
}

#november {
    width: 140px;
    padding: 0;
}

#december {
    width: 140px;
    padding: 0;
}


/*@media only screen and (min-width: 600px) {
    .gantt div {
        font-size: 16px;
    }
}*/

/* specific task styles */
.status1 { background: lightpink; grid-row: 2; }
.status2 { background: #33a8a5; grid-row: 3; }
.status3 { background: coral; grid-row: 4; }
.status4 { background: #6a478f; grid-row: 5; }
/*END OF TIMELINE CSS*/


/* PROFILE CSS */
.btn-user {
    margin: 5px 5px 5px 6px;
}

.profile-app, .jumbotron {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-top: 20px;
}

.profile-app {
    box-shadow: 0 0 .4rem #ffffff;
}
.user-profile {
    border: 2px solid black;
}

.go-btn {
    border: 2px solid #166cf4;
}

.profile-edit {
    display: flex;
    flex-direction: row;
}

/**** END OF PROFILE CSS ****/

/*HANNAH WITCHCRAFT*/
/* SHOW PAGE */
/*THIS DOESNT WORK*/
.tox {
    border: white;
}

.lead, .profile-edit, .display-4 {
    display: flex;
    justify-content: center;
}

.outline-shadow {
    box-shadow: 0 0 .4rem #03a892;
}
/**** END OF PROFILE CSS ****/

@media screen and (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
.gantt-timeline {
    display: flex;
    flex-direction: column;
}
    .dividers {
        display: flex;
        flex-direction: row;
    }

    h6 {
        height: 2em;
    }
    .job-border {
        display: flex;
        flex-direction: row;
    }

    .job-title {
        display: none;
    }

    .status1 { background: lightpink; grid-row: 2; }
    .status2 { background: #33a8a5; grid-row: 3; }
    .status3 { background: coral; grid-row: 4; }
    .status4 { background: #6a478f; grid-row: 5; }



}