* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

::-webkit-scrollbar {
    display: none;
}

/* THIS IS CSS FOR KANBAN*/
 #kanbanContainer {
     padding: .5em;
 }

 #searchBar {
     height: 1.5em;
     width: 25%;
     margin: 0 auto;
     margin-bottom: 3em;
 }

 /*class for logo*/
 .round {
     border-radius: 50px;
     border: 1px lightslategray;
     margin-right: 1em;
 }

.statusColumn {
    width: 18%;
    overflow: auto;
    border-radius: 10px;
    padding: .5em;
}

#statusNameContainer {
    margin-bottom: 1em;
    padding-left: 1em;
}

.statusNameDiv {
    width: 20%;
    /*margin-right: 1em ;*/
}

.statusName {
    margin: 0;
    padding: 4px;
    width: 93%;
}

ol {
    padding-left: 0;
}

.card-body {
    padding: 1em;
}

.jobCard {
    height: 15em;
    padding: 1em;
    margin: .5em;
}

.hidden {
    display: none;
}

ol {
    list-style-type: none;
    height: 100%;
}

/* THIS IS END OF KANBAN CSS*/

/*THIS IS THE CSS FOR THE CREAT JOBS FORM*/

textarea {
    height: 300px;
}

/*THIS IS THE END OF THE CSS FOR THE CREATE JOBS FORM*/

/*THIS IS CSS FOR TIMELINE*/
/*TODO can't figure out how to target the cols to get them to turn hot pink*/
.months {
    width: 70%;
    margin: auto;
}

/*keeps the calendar all on one row*/
.gantt-timeline {
    display: grid;
    justify-content: center;
    padding-top: 5em;
}

/* dividers */
.dividers {
    border-left: 1px solid lightgrey;
    grid-row: 1 / span 25;

}
/* months */
.gantt-timeline h4 {
    text-align: center;
    grid-row: 1;
}

/*row width for row col*/
#january {
    width: 130px;
    padding: 0;
}
#february {
    width: 130px;
    padding: 0;
}

#march{
    width: 130px;
    padding: 0;
}

#april {
    width: 130px;
    padding: 0;
}

#may {
    width: 130px;
    padding: 0;
}

#june {
    width: 130px;
    padding: 0;
}

#july {
    width: 130px;
    padding: 0;
}

#august {
    width: 130px;
    padding: 0;
}

#september {
    width: 130px;
    padding: 0;
}

#october {
    width: 130px;
    padding: 0;
}

#november {
    width: 130px;
    padding: 0;
}

#december {
    width: 130px;
    padding: 0;
}


/*@media only screen and (min-width: 600px) {
    .gantt div {
        font-size: 16px;
    }
}*/

/* specific task styles */
.status1 { background: lightpink; grid-row: 2; }
.status2 { background: #33a8a5; grid-row: 3; }
.status3 { background: coral; grid-row: 4; }
.status4 { background: #6a478f; grid-row: 5; }
/*END OF TIMELINE CSS*/


/* PROFILE CSS */
.btn-user {
    margin: 5px 5px 5px 6px;
}

.profile-app, .jumbotron {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-top: 20px;
}

.profile-app {
    box-shadow: 0 0 .4rem #ffffff;
}
.user-profile {
    border: 2px solid black;
}

.go-btn {
    border: 2px solid #166cf4;
}

.profile-edit {
    display: flex;
    flex-direction: row;
}

/**** END OF PROFILE CSS ****/

/*HANNAH WITCHCRAFT*/
/* SHOW PAGE */
/*THIS DOESNT WORK*/
.tox {
    border: white;
}
1 =======

.lead, .profile-edit, .display-4 {
    display: flex;
    justify-content: center;
}

.outline-shadow {
    box-shadow: 0 0 .4rem #03a892;
}
/**** END OF PROFILE CSS ****/

