<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/notes/index/{id}" th:action="@{/notes/index/{id}(id = ${job.id})}" method="get" th:object="${notes}">-->
<!--    <div class="modal fade" id="notesIndex" tabindex="-1" aria-labelledby="notesIndex" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content" th:each="note : ${notes}">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="noteTitle" th:text="${note.title}"></h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <h4 th:text="${note.content}"/>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--                <form th:action="@{/notes/delete/{id}(id = ${note.getNote_id()})}" method="post">-->
<!--                    <button class="btn-small btn-danger">Delete Note</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->