<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head ('Login')" />
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!--I did not include the nav bar for notes because it will be a modal - Rose -->

<form action="/notes/create" th:action="@{/notes/create}" method="post" th:object="${note}">
    Title:
    <input th:field="*{title}" th:value="*{title}"/>
    <br/>
    Content
    <textarea th:field="*{content}" th:value="*{content}"/>

    <br />
    <input type="submit" />
</form>
</body>
</html>