<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Login')" />
<body>

<!--try with the smaller modals, then look into modifying it with the full screen modals
ALSO try to use the modals under Varying Modal Content that pop up so we can go ahead -->

<!--TODO have the notes index pop up tie in with the job applications so they begin grabbing by id, also the controller for notes/index has findAll try changing that to findAllByID and see if it only lists the certain ones that do match up-->
<!--with the id so its all sorted out-->

<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#notesIndex">
    Open Notes
</button>
<!--todo got the notes index to display in the job controllers part. just need to test with the matching job app ids with the notes and see if its showing the proper ones since create notes is hard coded to 1-->
<!-- Modal -->
<!--<form action="/notes/index/{id}" th:action="@{/notes/index/{id}(id = ${job.id})}" method="get" th:object="${notes}">-->
<!--<div class="modal fade" id="notesIndex" tabindex="-1" aria-labelledby="notesIndex" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content" th:each="note : ${notes}">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="noteTitle" th:text="${note.title}"></h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <h4 th:text="${note.content}"/>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--            <form th:action="@{/notes/delete/{id}(id = ${note.getNote_id()})}" method="post">-->
<!--                <button class="btn-small btn-danger">Delete Note</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</form>-->

<main class="container">
    <h4 class="card-title" style="text-align: center">Viewing All Notes</h4>
    <div class="card" th:each="note : ${notes}">
        <div class="card offwhite-body">
            <div class="card-content preview-post">
                <h4 class="card-title" th:text="${note.title}"/>
                <p th:text="${note.content}"/>
            </div>
            <div class="small-space"/></div>
<!--         change the action to the delete in the note controller. try to make ad id match since its in a for loop -->
        <form th:action="@{/notes/delete/{id}(id = ${note.getNote_id()})}" method="post">
            <button class="btn-small btn-danger">Delete Note</button>
        </form>
        <form th:action="@{/notes/{id}/edit(id = ${note.getNote_id()})}" method="get">
            <button class="btn-small btn-primary">Edit Note</button>
        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>