<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Login')" />
<th:block th:replace="partials/navbar :: navbar"></th:block>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!--TODO: First the database issues regarding the time stamp and the job app idea,
TODO     (hardcode job_id as 1 if needed first after solving the timestamp issue just to confirm you can create the note
TODO    :then try seeing why the modal doesnt work if its coming directly from bootstrap and its incuded in the header and i even added the link to bootstrap.)-->


<!--try with the smaller modals, then look into modifying it with the full screen modals
ALSO try to use the modals under Varying Modal Content that pop up so we can go ahead -->

<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    Open Notes-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content" th:each="note : ${notes}">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="noteTitle" th:text="${note.title}"></h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <h4 th:text="${note.content}"/>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--            <form th:action="@{/notes/delete/{id}(id = ${note.getNote_id()})}" method="post">-->
<!--                <button class="btn-small btn-danger">Delete Note</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<main class="container">
    <h4 class="card-title" style="text-align: center">Viewing All Notes</h4>
    <div class="card" th:each="note : ${notes}">
        <div class="card offwhite-body">
            <div class="card-content preview-post">
                <h4 class="card-title" th:text="${note.title}"/>
                <p th:text="${note.content}"/>
            </div>
            <div class="small-space"/>
        </div>
<!--         change the action to the delete in the note controller. try to make ad id match since its in a for loop -->
        <form th:action="@{/notes/delete/{id}(id = ${note.getNote_id()})}" method="post">
            <button class="btn-small btn-danger">Delete Note</button>
        </form>
    </div>
</main>
</body>
</html>