<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('About')"></head>
<body data-spy="scroll container row">
<th:block th:replace="partials/navbar :: navbar"></th:block>

<div class="container-fluid mt-5 text-center">
    <h3 id="about-web" class="bold">About</h3>
    <p class="px-5 mt-4">AppliTraq is a one stop shop web application for job seekers to keep track of their job applications on a visual workflow that updates their status based on the stage of the hiring process. This pair programming project was developed in an agile team environment to mirror a kanban board style.
        <br>
        <br>
        Created with: <strong>HTML, CSS, Java, JavaScript, JQuery, REST API, JPA & Hibernate, Spring, Thymeleaf.</strong></p>
</div>

<div class="text-center">
    <h3 class="m-3 mt-5 bold">The Team</h3>
</div>
<div class="row justify-content-around mt-4 text-center about container-fluid">
    <div class="col-2">
        <img src="img/hannah.jpeg" alt="Hannah" width="300px" class="img-fluid">
        <h4>Hannah Paterka</h4>
        <p>The Silent Ninja
        <div class="d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/hannahpaterka/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/paterkahannah"><i class="fab fa-github"></i></a>
            <a href="https://alumni.codeup.com/students/1118"><img src="img/codeup-arrow.png" alt="" width="50em" class="img"></a>
        </div>
    </div>
    <div class="col-2">
        <img src="img/rose.jpeg" alt="Rose" width="300" class="img-fluid">
        <h3>Rose Barcus</h3>
        <p>Keeper of Time</p>
        <div class="d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/rose-barcus/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/rosebarcus"><i class="fab fa-github"></i></a>
            <a href="https://alumni.codeup.com/students/1114"><img src="img/codeup-arrow.png" alt=""  width="50em" class="img"></a>
        </div>
    </div>
    <div class="col-2">
        <img src="img/lex.jpeg" alt="Lex" width="300" class="img-fluid">
        <h3>Lex Zavala</h3>
        <p>Wizard of Words</p>
        <div class="d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/lex-zavala/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/LexZavala"><i class="fab fa-github"></i></a>
            <a href="https://alumni.codeup.com/students/1122"><img src="img/codeup-arrow.png" alt="" width="50em" class="img"></a>
        </div>
    </div>
    <div class="col-2">
        <img src="img/juan.jpeg" alt="Juan" width="300" class="img-fluid">
        <h3>Juan Perez</h3>
        <p>Mr. Headband</p>
        <div class="d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/juan-perez-023928203/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/jperez4432"><i class="fab fa-github"></i></a>
            <a href="https://alumni.codeup.com/students/1131"><img src="img/codeup-arrow.png" alt="" width="50em" class="img"></a>
        </div>
    </div>
    <div class="col-2">
        <img src="img/test-image.png" alt="karen" width="300" class="img-fluid">
        <h3>Karen Valadez</h3>
        <p>Master Style</p>
        <div class="d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/karen-valadez/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/valadezkaren04"><i class="fab fa-github"></i></a>
            <a href="https://alumni.codeup.com/students/1123"><img src="img/codeup-arrow.png" alt="" width="50em" class="img"></a>
        </div>
    </div>
</div>

</body>
</html>
