<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Meet the team')"></head>
<body>

<th:block th:replace="partials/navbar :: navbar"></th:block>

<h1>This is the about page...</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <h6 class="card-subtitle mb-2 text-muted">About about about</h6>
        <p class="card-text">Info of what the Applitraq does</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
</body>
</html>