<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('myTimeline')"/>
<body>
<th:block th:replace="partials/navbar :: navbar"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 timeline-key">
            <h6 class="badge badge-pill" id="applied">Applied</h6>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 timeline-key">
            <h6 class="badge badge-pill" id="interviewOne">First Contact</h6>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 timeline-key">
            <h6 class="badge badge-pill" id="interview2">Interview 1</h6>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-4 timeline-key">
            <h6 class="badge badge-pill" id="offered">Offered</h6>
        </div>
    </div>
</div>
<div>
    <div class="container-fluid months" style="...">
        <div class="row col-sm gantt-timeline">
            <div class="col-12 col-md row-sm dividers" id="january">
                <div><h5 class="h-january shadow">January</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${January}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="february">
                <div><h5 class="h-february shadow">February</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${February}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="march">
                <div><h5 class="h-march shadow">March</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${March}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="april">
                <div><h5 class="h-april shadow">April</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${April}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="may">
                <div><h5 class="h-may shadow">May</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${May}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="june">
                <div><h5 class="h-june shadow">June</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${June}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="july">
                <div><h5 class="h-july shadow">July</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${July}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="august">
                <div><h5 class="h-august shadow">August</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${August}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="september">
                <div><h5 class="h-september shadow">September</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${September}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="october">
                <div><h5 class="h-october shadow">October</h5></div>
                <div class="job-border shadow" th:each="timeline : ${October}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="november">
                <div><h5 class="h-november shadow">November</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${November}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h3 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h3>
                    <h3 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h3>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
            <div class="col-12 col-md row-sm dividers" id="december">
                <div><h5 class="h-december shadow">December</h5></div>
                <div class="job-border outline-shadow" th:each="timeline : ${December}">
                    <img class="round logo"
                         th:src="'//logo.clearbit.com/' + ${timeline.getJobApplications().getCompany()} + '.com?size=40'">
                    <h6 class="job-company text-light" th:text="${timeline.getJobApplications().getCompany}"></h6>
                    <h6 class="job-title text-light" th:text="${timeline.getJobApplications().getTitle()}"></h6>
                    <input type="hidden" th:value="${timeline.getKanbanStatus()}">
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="partials/javaScriptTag.html :: scriptBlock"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<footer th:block th:replace="partials/footer :: footer"></footer>
</body>
</html>